.count {
  color: #484848;
  font-family: "Helvetica Neue", Courier, monospace;
  font-weight: 100;
}

.all,
.active,
.completed {
  padding: 4px;
  border-color: rgb(0, 0, 0, 0.003);

  border-color: #b83f45;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;

  color: #484848;
  font-weight: 100;
  font-family: "Helvetica Neue", Courier, monospace;
  font-size: 16px;
  background-color: rgb(0, 0, 0, 0.003);
}

.inactive {
  border-color: rgb(0, 0, 0, 0.003);
  box-shadow: none;
}

.all:hover,
.active:hover,
.completed:hover {
  border-color: #b83f45;
  border-radius: 10%;
}

.hiding {
  display: none;
}

.clear {
  border: none;

  color: #484848;
  font-family: "Helvetica Neue", Courier, monospace;
  font-size: 16px;
  font-weight: 200;

  background-color: rgb(0, 0, 0, 0.003);
}

.clear:hover {
  text-decoration: underline;
}

.hidden {
  visibility: hidden;
}
